h1 {
    font-family: fantasy;
    color:lightskyblue;
    width: 200px;
    height: auto;
}

table {
    padding: 5px 0 5px 0;
    font-size: 90%;
}

#login_button, #signup_button, #cancle_button {
    border: double;
    background-color:#3DF18E;
    padding: 5px 20px 5px;
    margin: 5% 0;
}

#signup_redirect, #login_redirect {
    border: double;
    text-align: left;
    background-color:#3DF18E;
    padding: 5px 20px 5px;
    margin: 0 10px 50px 80%;
}

header {
    margin:0 auto;
    width: 1000px;
    background-color:whitesmoke;
}

main {
    margin:0 auto;
    width: 1000px;
    background-color:white;
}

footer {
    margin:0 auto;
    width: 1000px;
    background-color:rgb(144, 212, 209);
}

#title_main {
    font-family: fantasy;
    color:lightskyblue;
    width: 200px;
    height: auto;
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

ul {
    background-color:#3DF18E;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    background-color:#3DF18E;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

li a:hover:not(.current) {
    background-color:aquamarine;
}

.img_box {
    border:1px solid; 
    width: 400px;
    height: 400px;
}

img {
    width: 200px;
    height: 200px;
    transition: width 3s, height 3s;
}

img:hover {
    width: 400px;
    height: 400px;
}

#txt_box {
    column-count: 2;
    column-gap: 20px;
    column-width: auto;
    column-rule-style: dashed;
    column-rule-width: 3px;
}